{% load static %}
<link rel="stylesheet" href="{% static "css/home_page.css" %}">
<title>{% block title %}Home{% endblock title %}</title>
<div class="home">
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="div col-md-6 text-center text-md-start">
                <h1 class="display-4">Nithin</h1> 
                <p class="lead">Python FullStack Developer & Designer</p>
                <p class="text">I specialize in creating beautiful and functional websites. Let's build something amazing together!</p>
                <a href="https://drive.google.com/file/d/1KjuzEs2P53x04vq4QDEdk0bMILO-MhM3/view?usp=drive_link" class="btn btn-primary btn-lg">Resume</a>
            </div>
            <div class="col-md-6 text-center">
                <img src="https://i.pinimg.com/736x/de/e4/2d/dee42da0664789e50427a2487d512353.jpg" alt="Profile Image" class="profile">
            </div>
        </div>
    </div>
</div>
